# Ensure dependencies are fetched from the public npm registry
registry=https://registry.npmjs.org/

# Permite scripts de postinstall automáticamente
ignore-scripts=false
auto-install-peers=true
unsafe-perm=true
